
name: 易趣
on:
workflow_dispatch:
schedule:
    - cron: '0 7-20 * * *'
watch:
types: started
repository_dispatch:
types: YQ
jobs:
build:
runs-on: ubuntu-latest
if: github.event.repository.owner.id == github.event.sender.id
steps:
      - name: Checkout
uses: actions/checkout@v2
      - name: Use Node.js 12.x
uses: actions/setup-node@v1
with:
node-version: 12.x
      - name: npm install
run: |
          npm install
      - name: '运行 【易趣】'
run: |
          node Task/YQ.js
        env:
YQNB_yqnbHEADER: ${{ secrets.YQNB_yqnbHEADER }}
YQNB_yqnbBODY: ${{ secrets.YQNB_yqnbBODY }}
